.container {
    width: 1280px;
    margin: auto;
    font-family: roboto;
}


.logo-first {
    color: black;
    text-decoration: none;

}

.logo {
    font-size: 80px;
    margin: 38px 0px;

}

.logoend {
    color: aqua;
    font-size: 80px;
}

.nav {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: #35444f;
}

.topmenu_link {
    display: flex;
    justify-content: center;


}

.top-link {
    display: flex;
    padding: 26px 38px 19px 38px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    border: solid 1px #ffffff;
    color: #ffffff;
    cursor: pointer;
}

.top-link:hover {
    background-color: #222f3a;
}

.aside {
    display: flex;
    flex-direction: column;
    border: solid 1px #485863;
    width: 400px;
    height: 410px;


}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    width: 100%;
}

.aside_menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    border: solid 1px #485863;
}

.aside_link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 342px;
    height: 81px;
    padding-left: 44px;
    font-size: 27px;
    line-height: 27px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 300ms ease-in-out;
    color: #485863;
}

.aside_link:hover {
    padding-left: 58px;
    font-weight: bold;
    background-color: #dbdbdb;
}

.block_img {
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    align-content: center;
    border: solid 1px #485863;
    width: 780px;
    height: 620px;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 381px;
    left: 297px;
    top: 75px;
    margin-top: 120px;
}

.img:hover {
    scale: 1.1;
    transition: 500ms ease-in-out;
}


.main_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    font-size: 18px;
    margin-left: 502px;


}

.main_text-rus {
    margin-top: 37px;
    line-height: 1.5;
    text-align: justify;
    align-items: flex-end;



}

.main_text-eng {
    margin-top: 34px;
    line-height: 1.5;
    text-align: justify;
    align-items: flex-end;

}

.foot-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: rgba(99, 105, 110, 0.48);
    height: 69px;
    font-size: 24px;
    margin-top: 45px;
    cursor: pointer;
}

.foot_menu-link:hover {
    text-decoration: underline;
    color: #3181a6;
}

.corp {
    display: flex;
    align-items: flex-end;
    font-size: 19px;
    margin-left: 200px;
}